.post{
    background: var(--gray-800); /*Cor de fundo*/
    border-radius: 8px; /*Borda arredondada*/
    padding: 2.5rem; /*Espaçamento interno de 45px*/
}

/*+ estiliza todo post que antes dele tenha um post também ou seja só aplica com post que tenha outro post antes dele*/
.post + .post{
    margin-top: 2rem; /*Margem do topo de 32px*/
}

.content{
    line-height: 1.6;
    color: var(--gray-300); /*Cor da fonte*/

}

.content p {
    margin-top: 1rem; /*Margem de 16px*/
}

.content p a{
    font-weight: bold; /*Peso da fonte*/
    color: var(--green-500); /*Cor da fonte*/
    text-decoration: none; /*Retirar a linha do href*/

}

.content p a:hover{
    color: var(--green-300); /*Mudar a cor ao passar o mouse em cima*/
}

/*> aó vai aplicar a estilização somente no primeiro nivel*/
.post > header{
    display: flex; /**/
    align-items: center; /*Alinhar o conteudo ao centro*/
    justify-content: space-between; /*Vai deixa um espaço entre os elementos, deixando cada um num canto*/
}

.post > header time{
    font-size: 0.875rem; /*Tamanho da fonte em 14px*/
    color: var(--gray-400); /*Cor da fonte*/
}

.author{
    display: flex;
    align-items: center; /*Alinhar o conteudo ao centro*/
    gap: 1rem; /*Espaçamento de 16px*/
}

.author img{
    box-sizing: initial; /*Não deixa o elemento diminuir devido as bordas ocuparem espaços*/
    width: 3rem; /*Largura*/
    height: 3rem; /*Altura*/
    border-radius: 8px; /*Borda arredondada*/
    border: 4px solid var(--gray-800); /*Borda solida com cor*/
    outline: 2px solid var(--green-500); /*Linha ao redor da borda na cor verde*/
}

.authorInfo{
    display: flex;
    flex-direction: column; /*Força os elementos em colunas ficando um abaixo do outro*/

}

.authorInfo strong{
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span{
    font-size: 0.875rem; /*Tamanho da fonte 14px*/
    color: var(--gray-400); /*Cor da fonte*/
    line-height: 1.6;
}

.commentForm{
    width: 100%; /*Tamanho padrão*/
    margin-top: 1.5rem; /*Margem do topo*/
    padding-top: 1.5rem; /*Espaçamente interno do topo*/
    border-top: 1px solid var(--gray-600); /*Aplica uma linha no topo*/

}

.commentForm > strong{
    line-height: 1.6;
    color: var(--gray-100); /*Cor da fonte*/   
}

.commentForm textarea{
    width: 100%; /*Largura padrão de 100%*/
    background: var(--gray-900); /*Cor de fundo*/
    border: 0; /*Sem borda*/
    resize: none; /*Proibir redimensionamento*/
    height: 6rem; /*Altura padrão de 96px*/
    padding: 1rem; /*Espaçamento interno*/
    border-radius: 8px; /*Brodas arredondadas*/
    color: var(--gray-100); /*Cor da fonte*/
    line-height: 1.4;
    margin-top: 1.4rem; /*Margem do topo*/

}

.commentForm footer{
    visibility: hidden; /*Esconde o elemento*/
    max-height: 0; /*Tamanho maximo*/
}

/*Se houver um foco em qualquer elemento dentro do commntform*/
.commentForm:focus-within footer{
    visibility: visible;
    max-height: none; /*Tamanho maximo em none*/
}

.commentForm button[type=submit]{
    padding: 1rem 1.5rem; /*Espaçamento intero topo e laterais*/
    margin-top: 1rem; /*Margem do topo */
    border-radius: 8px; /*Brodas arredondadas*/
    border: 0; /*Sem borda*/
    background: var(--green-500); /*Cor de fundo*/
    color: var(--white); /*Cor da fonte*/
    cursor: pointer; /*Mudar a seta do mouse para a mão*/
    transition: background-color 0.1s; /*Transição para troca de cor em 0.1s*/


}

.commentForm button[type=submit]:hover{
    background: var(--green-300); /*Cor de fundo*/
}

.commentList{
    margin-top: 2rem; /*Margem do topo*/
}