.wrapper{
    max-width: 70rem; /*Largura maxima  1120 / 16 = 70*/
    margin: 2rem auto; /*Margem para centralizar o whpper*/
    padding: 0 1rem; /*Se diminuir a tela para um tamanho menor que 70rem não vai ficar colado */
    display: grid;
    grid-template-columns: 256px 1fr; /*Duas colunas de grid fr flexivel*/
    gap: 2rem;
    align-items: flex-start /*Alinhado ao topo*/;
}